.dashboard{
    margin: 20px;
}
.map{
    max-height: 535px;
    border-radius: 10px;
}
.card1{
    grid-area: card1;
}
.card2>.card>div{
    grid-area: card2;
    display:grid;
    grid-template-columns: auto auto;
    padding-top: 20px;
    padding-left: 80px;
}

.card3{
    grid-area: card3;
}
.card3>.card>div{
    display: grid;
    grid-template-columns: auto auto;
}
.card-body{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom-select{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 5px black;
    padding-left: 10px;
    padding-right: 10px;
}
.btn{
    background-color: yellow;
    color: black;
    border: none;
    width: 150px;
    border-radius: 20px;
}
.stations{
    grid-area: stations;
}
.stations>.card>.card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
p{
    font-size: 110%;
}
#stations{
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
}
.station::before{
    content: "•"; color: aqua;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.stationPassed::before{
    content: "•"; color: black;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.from-to{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    top: 50px;
    min-height: 20%;
    left: 20px;
}
.map{
    grid-area: map;
}
.dashboard{
    display: grid;
    grid-template-areas:
      'card1 card2 card3'
      'stations map map';
    gap: 10px;
    padding: 10px;
}

.stations>.card>.card-body{
    min-height: 500px;
}



#cooltoast-container {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
  /*   font-family: 'Helvetica'; */
  }
  
  .cooltoast-toast {
    position: relative;
    padding: 8px 12px;
    margin: 16px;
    border-radius: 8px;
    background: #F5F5F5;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0,0,0,0.08), 0 1px 3px rgba(0,0,0,0.19);
    animation-duration:  .3s;
    animation-name: cooltoast;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  .cooltoast-fadeOut {
    animation-name: cooltoastFadeOut;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-fill-mode: forwards;
  }
  
  #cooltoast-container p,
  #cooltoast-container h4 {
    margin: 3px 0!important;
  }
  
  .cooltoast-title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .cooltoast-text {
    font-size: 14px;
    color: #777;
  }
  
  .cooltoast-icon {
    position: absolute;
    top: 5px;
    left: -40px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #FFF;
  }
  
  .cooltoast-toast a, .cooltoast-toast a:hover {
    color: #549EDB !important;
    text-decoration: none !important;
  }
  
  /** toast types */
  .cooltoast-success {
    border-bottom: 2px solid #51C625;
  }
  
  .cooltoast-warning {
    border-bottom: 2px solid #DB9215;
  }
  
  .cooltoast-error {
    border-bottom: 2px solid #DB2B1D;
  }
  
  .cooltoast-info {
    border-bottom: 2px solid #27ABDB;
  }
  
  @keyframes cooltoast {
    from {
      transform: translate3d(400px, 0, 0);;
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @keyframes cooltoastFadeOut {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate3d(400px, 0, 0);
      opacity: 0;
    }
  }
  